:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000de;
  background: linear-gradient(90deg, rgba(155, 152, 235, 0.662), hsla(241, 78%, 29%, 0.428),  rgba(155, 152, 235, 0.662));
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
}

/* Cuerpo del tweet */
.content{
  background-color:rgb(124, 124, 231);
  height: 25rem;
  width: 35rem;
  border-radius: 37px;
  border: solid rgb(108, 108, 202) 10px;
  box-shadow: #000000 1px 2px 6px;
  margin-bottom: 5rem;
  word-wrap: break-word;
  box-sizing: border-box;
  
}

/* textArea del tweet */
.textAreaTweet{
  resize: none;
  width: 90%;
  height: 20%;
  border: none;
  border-radius: 10px;
}

/* Botones */
button{
  background-color:rgb(52, 52, 131);
  padding: 10px 10px;
  border: none;
  border-radius: 7px;
  margin: 8px;
  box-shadow: #000000 1px 3px;
  color: #ffffff;
  margin-bottom:7rem;
}

/* Animación al pasar el mouse por el botón*/
button:hover{
  background-color:rgb(48, 48, 90);
  transform: translateY(1px);
}

/* Contador */
.counter{
  left: 53rem;
  position:absolute;
  bottom:25rem;

}

/* Titulo */
.title{
  margin-top: 7vh;
  margin-left:-1vh;
  position: relative;
  bottom: 2rem;
  font-size:30px;
}

.Response{
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 7rem;
  
}


.archivedTweets{
  word-wrap: break-word;
  border: solid rgb(108, 108, 202) 5px;
  border-radius: 10px;
  background-color:rgb(124, 124, 231);
  margin-top: 1rem;  
}

footer{
  padding: 20px;
}



.savedTweetSelectionButton{
  margin-bottom: 1rem;  
}

/* Colores contador */
.green {
  color: rgb(38, 124, 38);
  font-weight: bold;
}

.red {
  color: rgb(211, 13, 13);
  font-weight: bold;
}


.publishedtweets{
  word-wrap: break-word;
  position: absolute;
  margin-top: 5rem;
  left: 31rem;
  width: 350px;
  bottom: 170px;
  text-align: justify;
  
}

.publishedText{
  word-wrap: break-word;
  position: absolute;
  margin-top: 5rem;
  left: 49rem;
  width: 350px;
  
}
/* RESET DE CSS */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}